.vg-player
	width: 100px

::ng-deep .mat-expansion-panel-header
	height: 100px !important
  display: flex
  flex-wrap: wrap

::ng-deep .mat-expansion-panel-header-description
  display: flex
  flex-wrap: wrap
