<mat-card>
  <mat-card-header>
    <mat-card-title>
      Текущие ситуации
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-content mt-3">

      <mat-accordion>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let zone of getNotEmptyZones(zonesArray)">
            <mat-expansion-panel-header>
              {{zone.name}}
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let camera of getNotEmptyCameras(zone.camerasList)">
              <mat-expansion-panel-header>
                {{camera.name}}
              </mat-expansion-panel-header>

              <div class="situation-item_wrapper">
                <mat-card
                  *ngFor="let situation of camera.situationsList"
                  class="mt-2 mb-2">
                  <mat-card-content class="case-item_container">
                    <div class="case-item_left-side">
                      <div class="case-item_title">{{ situation.name }}</div>
                      <div class="case-item_tags mt-2">
                        <mat-chip-list class="tags-list tags-people">
                          <mat-chip class="tags-list_item"
                                    *ngFor="let item of situation.factors"
                                    color="warn">
                            {{item}}
                          </mat-chip>

                          <mat-chip class="tags-list_item"
                                    *ngIf="situation.detectionFrame"
                                    color="warn">
                            Область ограничена
                          </mat-chip>
                        </mat-chip-list>
                        <mat-chip-list class="tags-list tags-people">
                          <mat-chip class="tags-list_item"
                                    *ngIf="situation.dateTime">
                            {{ situation.dateTime.rangeFrom | date: "d/L/yyyy:H-m" }} - {{ situation.dateTime.rangeTo | date: "d/L/yyyy:H-m" }}
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                    </div>
                    <div class="case-item_status">
                      <mat-checkbox
                        [checked]="situation.isEnabled"
                        (change)="checked(situation.id)"
                        [disabled]="false">
                      </mat-checkbox>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button
                      (click)="editSituation(situation.id)"
                      mat-stroked-button
                      class="situation-item_edit">
                      <mat-icon>edit</mat-icon> Редактировать
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>

              <mat-action-row>
                <button mat-flat-button color="primary" class="mr-2">Включить всю группу</button>
                <button mat-raised-button color="warn" class="ml-2">Выключить всю группу</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-expansion-panel>
        </mat-accordion>
        </mat-accordion>

        <mat-card-actions>
          <button mat-raised-button
                  class="ml-2 mt-2"
                  (click)="addCase()"
                  color="primary">Добавить
          </button>
        </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
