<div class="container">
  <div class="scenarios-block" *ngIf="zonesArray">
    <app-scenarios-list
      class="scenarios-list"
      *ngIf="!isEditing"
      [zonesArray]="zonesArray"
      (newCase)="newCase($event)"
      (editCase)="editSituation($event)"
      (removeCase)="removeCase($event)">
    </app-scenarios-list>

    <mat-divider></mat-divider>

    <app-scenarios-form
      #ref
      class="scenarios-list"
      *ngIf="isEditing"
      [isEditing]="isEditing"
      [zonesArray]="zonesArray"
      (discardAdd)="discardAdd()"
      (create)="addCase($event)"
    ></app-scenarios-form>
    <mat-divider></mat-divider>
  </div>
</div>
